@use "@angular/material" as mat;

section {
  width: 300px;
  margin: 2rem auto;

  & form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2.5rem 1.5rem;
    border-radius: 1rem;
    box-shadow: 0 2rem 4rem lightblue;

    & button {
      margin: 0 auto;
      background-color: rgba(0, 0, 128, 0.8);
      color: #eee;
      font-weight: 700;
      width: fit-content;
      box-shadow: 0 2rem 4rem rgba(173, 216, 230, 1);

      transition: all 0.2s ease;

      &:disabled {
        opacity: 0.3;
      }

      &:hover {
        transform: translateY(-2px);
        box-shadow: 0 1rem 2rem rgba(0, 0, 130, 1);
      }
      &:active {
        transform: translateY(1px);
        box-shadow: 0 2rem 4rem rgba(173, 216, 230, 1);
      }
    }
  }
}
